h1 {
  color: green;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.player-board {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.player-tile {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.boat-tile {
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px solid black;
}

.miss {
  width: 20px;
  height: 20px;
  background-color: blue;
  border: 1px solid black;
}

.hit {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid black;
}

.computer-board {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.computer-tile {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
